.row2{
  background: #ed1c24;
  height: 42px;
}
.col-sm-12{
.nav-link{
  color:white;
}
.nav-link:hover{
  background:#5e5e5e;
  color: white;
}
}
.row3{
  background: white;
}
.nav-link2{
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin: 10px;
}
a >{
  color: black;
 b{
   color:#ed1c24;
 }
}
.nav-link3.active2{
    color: black;
    font-weight: 700;
    font-size: 18px;
    margin: 10px;
}
button:hover{
  background: black;
}
@media (min-width: 1228px) {
.img2{
  height: 85px;
  margin-left: -10%;
}
}
